# CEV-BEBKA WEEK-7 TASKS

### NOTE: You can work with your teammates to solve the given tasks however you should prepare the report by yourself and in your own words to get points.

### TASK-7A: Please apply one-hot encoding method on one of the categorical variables (not SEX/gender) for the given AD dataset. Please explain what kind of transformation occured on the dataset.

In [76]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
import numpy as np
from sklearn.metrics import classification_report

data=pd.read_excel("Temporary_data3_Left_Right_Copy.xlsx")
Cdrglob = data["CDRGLOB"]
labels = ["NACCAPOE-1","NACCAPOE-2","NACCAPOE-3","NACCAPOE-4",
          "NACCAPOE-5","NACCAPOE-6"]
a = pd.get_dummies(data["NACCAPOE"])
data.drop("NACCAPOE",axis=1)
for label,i in zip(labels,range(6)):
  data[f"{label}"] = a.iloc[:,i]
data.iloc[:,-6:]

      NACCAPOE-1  NACCAPOE-2  NACCAPOE-3  NACCAPOE-4  NACCAPOE-5  NACCAPOE-6
0              0           0           1           0           0           0
1              1           0           0           0           0           0
2              1           0           0           0           0           0
3              1           0           0           0           0           0
4              1           0           0           0           0           0
...          ...         ...         ...         ...         ...         ...
1349           1           0           0           0           0           0
1350           1           0           0           0           0           0
1351           1           0           0           0           0           0
1352           1           0           0           0           0           0
1353           0           0           0           1           0           0

[1354 rows x 6 columns]

### TASK-7B: Please provide a couple of pivot tables in order to illustrate how SEX variable is influential on our target array (CDRGLOB). Please provide a few multidimensional analyses (not limited to two variables).

In [77]:
print(data.pivot_table('CDRGLOB', index=['NACCAPOE',"ALCOHOL"], columns='SEX'))

SEX                      1         2
NACCAPOE ALCOHOL
1        0        0.760300  0.523196
         1        1.333333  0.666667
         2        1.062500  0.250000
2        0        0.939394  0.717391
         1        2.500000  1.000000
         2        0.857143  0.714286
3        0        0.743590  0.371795
         1        0.000000       NaN
         2        1.000000  0.000000
4        0        1.243902  0.926829
         1        2.000000       NaN
         2        1.250000       NaN
5        0        1.000000  0.666667
         2        1.666667       NaN
6        0             NaN  0.000000

### TASK-7C: Referring to the problem in part B, please provide a potential solution to the gender-based issue that appears as a bottleneck for the model development phase. One possible solution might be to provide normalization of the numeric columns with respect to the total brain volume (NACCBRNV column).

In [78]:
data.iloc[:,37:-6] = data.iloc[:,37:-6].div(data.NACCBRNV,axis=0)
data.iloc[:,40:]

,CSFVOL,GRAYVOL,WHITEVOL,WMHVOL,CEREALL,CERETISS,CERECSF,CEREGR,CEREWH,LHIPPO,...,RSUPMAR,RSUPMARM,RTRTEM,RTRTEMM,NACCAPOE-1,NACCAPOE-2,NACCAPOE-3,NACCAPOE-4,NACCAPOE-5,NACCAPOE-6
0,0.249987,0.569773,0.430227,0.000365,1.062829,0.851212,0.211614,0.462603,0.388244,0.003160,...,0.008821,0.001501,0.000796,0.001068,0,0,1,0,0,0
1,0.423173,0.570138,0.429862,0.001589,1.248402,0.880778,0.367624,0.481710,0.397479,0.002889,...,0.006563,0.001706,0.001246,0.001833,1,0,0,0,0,0
2,0.224296,0.557074,0.442926,0.001162,1.049901,0.871725,0.178176,0.464681,0.405890,0.002677,...,0.008512,0.001549,0.000850,0.001263,1,0,0,0,0,0
3,0.337873,0.572790,0.427210,0.002224,1.118978,0.865950,0.253028,0.480504,0.383232,0.003165,...,0.009316,0.001641,0.000663,0.000986,1,0,0,0,0,0
4,0.464283,0.569958,0.430042,0.008077,1.262842,0.872748,0.390093,0.479283,0.385392,0.002829,...,0.007474,0.001438,0.000654,0.000840,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1349,0.289110,0.546592,0.453408,0.001662,1.100470,0.867546,0.232923,0.449027,0.416856,0.003329,...,0.008165,0.002067,0.000590,0.000900,1,0,0,0,0,0
1350,0.437067,0.559259,0.440741,0.008622,1.240003,0.861044,0.378962,0.447476,0.404958,0.002474,...,0.008558,0.001718,0.000609,0.000666,1,0,0,0,0,0
1351,0.349720,0.587341,0.412659,0.008079,1.153496,0.859910,0.293586,0.487591,0.364240,0.002509,...,0.008875,0.001629,0.001105,0.001489,1,0,0,0,0,0
1352,0.354461,0.586560,0.413440,0.027681,1.200412,0.899993,0.300420,0.498815,0.373497,0.003301,...,0.010056,0.001935,0.001185,0.001375,1,0,0,0,0,0
1353,0.280445,0.583562,0.416438,0.009841,1.097672,0.866665,0.231007,0.486000,0.370813,0.002869,...,0.009992,0.001866,0.000833,0.001655,0,0,0,1,0,0

### TASK-7D: After the normalization process, please provide a correlation matrix to report the critical features that have high correlation (positive or negative) with the target array (CDRGLOB).

In [79]:
mask = (data.corr()>0.30) | (data.corr()<-0.30)
data.corr()[mask][16:17].dropna(1)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.dropna will be keyword-only

,INDEPEND,CDRGLOB,DEL,AGIT,ANX,APA,DISN,IRR,MOT,NACCMMSE,...,CEREALL,CERECSF,LHIPPO,RHIPPO,LLATVENT,RLATVENT,THIRVENT,LTEMPCOR,LENTM,RENTM
CDRGLOB,0.693881,1.0,0.300995,0.373153,0.319968,0.448558,0.326447,0.319788,0.330414,-0.74666,...,0.367395,0.420518,-0.390896,-0.372265,0.443272,0.435256,0.38337,-0.305253,-0.366255,-0.3858

###TASK-7E: Please develop 3 distinct formulas (in other words derived features like BMI score) that involve the critical features in Part-7D and then ensure that these derived features could be used as predictive variables for CDRGLOB (again correlation analysis will give you insight).

In [80]:
data['AHMET'] = (data['DEL']+data['AGIT']+data['IRR'])/3
data['SINA'] = (data['CSFVOL']*data['CEREALL']*data['CERECSF'])
data['SOYGAN'] = (data['LLATVENT']*data['RLATVENT'])/(data['LHIPPO']*data['RHIPPO'])
data[['AHMET','SINA','SOYGAN','CDRGLOB']].corr().iloc[-1:,:-1]

            AHMET      SINA    SOYGAN
CDRGLOB  0.436518  0.393219  0.382166

###TASK-7F: Then please develop a machine learning model with the 3 derived features that you obtain in 7F via the use of train-test split (be careful about stratify parameter in this function) and gridsearchCV function as well as a classification algorithm (such as Gaussian Naive Bayes) but please do not forget to optimize its hyperparameters. Finally, please report your findings via the use of classification report function (also a sklearn function).

In [81]:
New_dataframe=pd.concat([data['AHMET'], data['SINA'],data['SOYGAN']], axis=1)
model=BernoulliNB() 
X1, X2, y1, y2 = train_test_split(New_dataframe,Cdrglob , random_state=0,     
                                  train_size=0.2)

model.fit(X1,y1)                                                                
y_pred = model.predict(X2)
param_grid = {'alpha': [1,2,5,10,20],                                       
              'binarize': [0,1,2,5,10],
              'fit_prior' : [True,False]}

grid = GridSearchCV(model, param_grid, cv=15)                             
grid.fit(X1, y1)                                                 
print(grid.best_params_)                                                 
best_grid = grid.best_estimator_                                      
grid_best = best_grid.fit(X1, y1).predict(X2)                                 

print("accuracy score for default parameters: ",accuracy_score(y2,y_pred))
print("Accuracy score for best parameters: ",accuracy_score(y2,grid_best))


print(classification_report(y2, y_pred))

{'alpha': 1, 'binarize': 0, 'fit_prior': True}
accuracy score for default parameters:  0.5747232472324724
Accuracy score for best parameters:  0.5747232472324724
              precision    recall  f1-score   support

           0       0.60      0.90      0.72       527
           1       0.51      0.38      0.43       393
           2       0.00      0.00      0.00       133
           3       0.00      0.00      0.00        31

    accuracy                           0.57      1084
   macro avg       0.28      0.32      0.29      1084
weighted avg       0.48      0.57      0.51      1084

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))